<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Iglesia Cristo es el Rey" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="iglesiacristoeselrey.org/" />

    <meta property="og:image" content="/images/logo-icr-sharing.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="ICR logo" />
    <meta property="og:site_name" content="Iglesia Cristo es el Rey" />

    <meta
      property="og:description"
      content="Organización comunitaria sin fines de lucro."
    />
    <link rel="shortcut icon" href="../images/logo-icr-browser.png" />
    <title>ICR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <!-- NavBar Section -->
    <header class="navbar-section">
      <nav class="nav collapsible">
        <a class="nav__brand" href="/"
          ><img class="nav__image" src="/images/logoICR.png" alt=""
        /></a>
        <svg class="icon icon--white nav__tonggler">
          <use href="/images/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="./about">Acerca de</a></li>
          <li class="nav__item">
            <a href="https://www.iglesiacristoeselrey.org/#map"
              >&#191;C&#243;mo llegar&#63;</a
            >
          </li>
          <li class="nav__item">
            <a href="https://www.iglesiacristoeselrey.org/#contacto"
              >Contacto</a
            >
          </li>
          <li class="nav__item">
            <a href="https://www.iglesiacristoeselrey.org/#FAQ"
              >Preguntas Frecuentes</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!-- Section History -->
    <section class="block block--dark block--sckewed-left hero" id="history">
      <div class="container grid grid--1x2">
        <header class="block__header">
          <h1 class="block__heading">Historia</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Dignissimos placeat odio laudantium assumenda quae eaque quisquam
            sit officiis voluptatibus deserunt. Harum voluptatibus in quae esse
            doloremque ab ipsam suscipit deleniti!
          </p>
        </header>
        <img src="" alt="ICR-building" />
      </div>
    </section>

    <!-- Vision Section -->
    <section class="block vision-container vision" id="vision">
      <div class="block__header Vision__header">
        <h2 class="block__heading">Nuestra Visión</h2>
      </div>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#friend"></use>
            </svg>
            <h3>Amor y Unidad</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Amar a Dios sobre todas las cosas y a nuestro prójimo, sin importar
          credo, raza, estatus social o Religión, donde todas las personas
          puedan encontrar Amor, Perdón, Aceptación, Ayuda, Esperanza, Guía y
          Aliento. (Marcos 12:30-31)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#family"></use>
            </svg>
            <h3 class="vision__header">Familias Sanas</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Transformar familias para Cristo, enseñándoles valores espirituales
          para fortalecer así nuestra sociedad. (Marcos 3:25)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#crowd"></use>
            </svg>
            <h3>Una Gran Familia</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Darles la bienvenida a más de 6,000 miembros integrados a la familia
          de nuestra iglesia, amando, aprendiendo, riendo y viviendo unidos en
          armonía. (Hechos 2:47), (Efesios 2:19)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#church"></use>
            </svg>
            <h3>Una Iglesia Cristiana</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Como los primeros seguidores de Cristo, nos identificamos como
          Cristianos, sin diferencias denominacionales, estableciendo que la
          Unidad y el Amor deben estar por encima de las diferencias de
          pensamiento. (Hechos 11:26) (Colosenses 3:14)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#bible"></use>
            </svg>
            <h3>Evangelizar</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Llevar las buenas nuevas del reino de Dios a los pobres de espíritu,
          los quebrantados de corazón, los cautivos, los ciegos, los oprimidos y
          a toda persona sobre la faz de la tierra, por todos los medios
          disponibles. (Lucas 9:6) (Mateo 28:19)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#lider"></use>
            </svg>
            <h3>Afirmar</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Llevar a dada creyente a ser un discípulo y un fuerte líder en el
          reino de Dios, fundamentándolo en los valores del Reino, renovando así
          su mentalidad para que su ser total sea transformado en espíritu, alma
          y cuerpo. (Mateo 28:19)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#unido"></use>
            </svg>
            <h3>Discipular</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Adiestrar, equipar y ayudar a cada discípulo a descubrir y cumplir el
          propósito, el llamado y la voluntad de Dios para su vida; llevándolo a
          conocer su identidad como hijo, con derechos, privilegios, herencia y
          responsabilidades en el reino de Dios. (Mateo 28:19)
        </p>
      </article>
      <article class="grid grid--1x2 vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#sender"></use>
            </svg>
            <h3>Enviar</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Comisionar a cada líder y discípulo para que haga la voluntad de Dios
          y llegue a su destino, llevando el Reino dondequiera que vaya. Con el
          propósito final de transferir un legado de amor, justicia y bendición
          a las próximas generaciones. (Lucas 9:2)
        </p>
      </article>
      <article class="vision__article">
        <div class="vision__content">
          <div class="vision_subtitle">
            <svg class="icon icon-container icon--secondary">
              <use href="/images/sprite.svg#building"></use>
            </svg>
            <h3>Planta Física</h3>
          </div>
        </div>
        <p class="vision__paragraph">
          Adquirir, por lo menos, 100,000.00 metros2 de tierra para construir
          una iglesia, con dependencias que incluyan: Un Centro de Culto para
          miles de personas, un centro de consejería y Oración, un Colegio donde
          instruir a los niños en el camino de Dios, salones de clases para
          estudios bíblicos y preparación de los ministros, un consultorio
          médico gratis, un economato-cooperativa y un área de recreación, esto
          se creara para ministrar a las personas en su totalidad: emocional,
          espiritual, física y socialmente, en un ambiente de transformación. (1
          Crónicas 29:11)
        </p>
      </article>
    </section>

    <!-- Leadership Section -->
    <section class="block block--gray block--sckewed-top-left" id="lidership">
      <div class="container">
        <header class="block__header">
          <h2>Liderazgo</h2>
          <!-- <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, non!
          </p> -->
        </header>
        <article class="grid grid--1x2 leadership">
          <picture class="leadership__pic">
            <source
              srcset="
                /images/pastores-generales.webp    1x,
                /images/pastores-generales@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /images/pastores-generales.png    1x,
                /images/pastores-generales@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="leadership__image"
              src="/images/pastores-generales.png"
              alt=""
            />
          </picture>
          <div class="leadership__content">
            <h3 class="leadership__header">Sixto y Berkis González</h3>
            <p>Pastores Generales</p>
            <div class="leadership__media-icon">
              <a href="https://www.instagram.com/pastorsixtogonzalez/"
                ><img src="../images/instagram.png" alt="instagram"
              /></a>
              <a href="https://www.facebook.com/pastorsixto.gonzalez/"
                ><img src="../images/facebook.png" alt="facebook"
              /></a>
              <a href=""><img src="../images/twitter.png" alt="twitter" /></a>
            </div>
          </div>
        </article>
        <article class="grid grid--1x2 leadership">
          <picture class="leadership__pic">
            <source
              srcset="
                /images/comunidad-mas.webp    1x,
                /images/comunidad-mas@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /images/comunidad-mas.png    1x,
                /images/comunidad-mas@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="leadership__image"
              src="/images/comunidad-mas.png"
              alt=""
            />
          </picture>
          <div class="leadership__content">
            <h3 class="leadership__header">Comunidad Más</h3>
            <p>Liderazgo Juvenil</p>
            <div class="leadership__media-icon">
              <a href="https://www.instagram.com/comunidadmas_/"
                ><img src="../images/instagram.png" alt="instagram"
              /></a>
              <a href=""><img src="../images/facebook.png" alt="facebook" /></a>
              <a href=""><img src="../images/twitter.png" alt="twitter" /></a>
            </div>
          </div>
        </article>
      </div>
    </section>

    <!-- Section footer -->
    <footer class="block block--dark footer">
      <div class="container grid footer__sections footer__container">
        <section class="collapsible collapsible--expanded footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Acerca de</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="/images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li><a href="./about#historia">Historía</a></li>
            <li><a href="./about#vision">Visíon</a></li>
            <li><a href="./about#liderazgo">Liderazgo</a></li>
            <li>
              <a href="https://www.iglesiacristoeselrey.org/#contacto"
                >Contacto</a
              >
            </li>
          </ul>
        </section>
        <div class="footer__container">
          <section class="footer__section">
            <header class="footer__line">
              <h2 class="footer__heading">
                <a
                  href="https://www.google.com/maps/dir//Iglesia+Cristo+es+el+Rey,+esquina+Cordillera,+Rep%C3%BAblica+Dominicana,+Ave+Penetracion,+Santo+Domingo+Este,+Dominican+Republic/@18.507193,-69.796949,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8eaf86efa75bf501:0x71f1b2dd8138a0c1!2m2!1d-69.7972688!2d18.5070756?hl=en-US"
                  target="__blank"
                  >&#191;C&#243;mo llegar&#63;</a
                >
              </h2>
              <a
                href="https://www.google.com/maps/dir//Iglesia+Cristo+es+el+Rey,+esquina+Cordillera,+Rep%C3%BAblica+Dominicana,+Ave+Penetracion,+Santo+Domingo+Este,+Dominican+Republic/@18.507193,-69.796949,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8eaf86efa75bf501:0x71f1b2dd8138a0c1!2m2!1d-69.7972688!2d18.5070756?hl=en-US"
                target="__blank"
              >
                <svg class="icon icon--white">
                  <use href="/images/sprite.svg#route"></use>
                </svg>
              </a>
            </header>
          </section>
          <section class="footer__section">
            <header class="footer__line">
              <h2 class="footer__heading">
                <a
                  href="https://www.instagram.com/iglesiacristoeselrey/"
                  target="__blank"
                  >@iglesiacristoeselrey</a
                >
              </h2>
              <a
                href="https://www.instagram.com/iglesiacristoeselrey/"
                target="__blank"
              >
                <svg class="icon icon--white">
                  <use href="/images/sprite.svg#instagram (1)"></use>
                </svg>
              </a>
            </header>
          </section>
          <section class="footer__section">
            <header class="footer__line">
              <h2 class="footer__heading">
                <a
                  href="https://www.facebook.com/Iglesia-Cristo-es-El-Rey-647588922020247/"
                  target="__blank"
                  >Iglesia Cristo es el Rey</a
                >
              </h2>
              <a
                target="__blank"
                href="https://www.facebook.com/Iglesia-Cristo-es-El-Rey-647588922020247/"
              >
                <svg class="icon icon--white">
                  <use href="/images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </header>
          </section>
        </div>
        <section class="footer__brand">
          <img src="/images/logoICR.png" alt="" />
        </section>
      </div>
      <section class="footer__copyright">
        <a href="https://www.instagram.com/eraldoepl/">
          Designed by Erardo Perdomo
        </a>
        <svg class="icon icon--white">
          <use href="/images/sprite.svg#instagram (1)"></use>
        </svg>
        <p>
          &copy; 2021 Iglesia Cristo es el Rey. Todos los derechos reservados.
        </p>
      </section>
    </footer>
    <script src="../js/main.js"></script>
  </body>
</html>
