<!-- NavBar Section -->
<header class="navbar-section">
  <nav class="nav collapsible">
    <a class="nav__brand" href="/"
      ><img class="nav__image" src="/images/logoICR.png" alt=""
    /></a>
    <svg class="icon icon--white nav__tonggler">
      <use xlink:href="/images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Acerca de</a></li>
      <li class="nav__item">
        <a
          href="https://www.youtube.com/c/IglesiaCristoeselRey-ICER/videos"
          target="_blank"
          >Mensajes</a
        >
      </li>
      <li class="nav__item">
        <a href="#" target="_blank">&#191;C&#243;mo llegar&#63;</a>
      </li>
      <li class="nav__item"><a href="#">Contacto</a></li>
      <li class="nav__item"><a href="#">Preguntas Frecuentes</a></li>
    </ul>
  </nav>
</header>
