<!-- Slideshow container -->
<section class="block container FAQ">
  <header>
    <h2 class="block__header">Preguntas Frecuentes</h2>
  </header>
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="slides__width tripleCard">
      <div class="slides__card mySlides fade">
        <div class="media-card">
          <div class="media__image">
            <svg class="icon icon-container icon--secondary">
              <use xlink:href="/images/sprite.svg#video-camera"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">¿Se transmite algún servicio en vivo?</h3>
            <p>
              Efectivamente, se transmite una parte de todos los servicio, el
              mensaje completo y algunos fragmentos del resto de la experiencia.
            </p>
          </div>
        </div>
      </div>
      <div class="slides__card mySlides fade">
        <div class="media-card">
          <div class="media__image">
            <svg class="icon icon-container icon--secondary">
              <use xlink:href="/images/sprite.svg#pay"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">
              ¿Hay que pagar boleto de entrada al servicio?
            </h3>
            <p>
              No, la entrada para disfrutar de esta experiencia, es gratuita. El
              Arena se llena conforme a orden de llegada.
            </p>
          </div>
        </div>
      </div>
      <div class="slides__card mySlides fade">
        <div class="media-card">
          <div class="media__image">
            <svg class="icon icon-container icon--secondary">
              <use xlink:href="/images/sprite.svg#church"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">
              ¿Son iguales los dos servicios de los Domingos?
            </h3>
            <p>
              Sí, los servicios son iguales; el mensaje y contenido pueden
              variar.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slides__width tripleCard">
      <div class="slides__card mySlides fade">
        <div class="media-card">
          <div class="media__image">
            <svg class="icon icon-container icon--secondary">
              <use xlink:href="/images/sprite.svg#assigment"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">
              ¿Puedo tener consejería personalizada durante el domingo?
            </h3>
            <p>
              El domingo solo puedes tener una consulta rápida con nuestro
              equipo Pastoral, pero serás derivado a una consejería
              especializada durante el resto de la semana.
            </p>
          </div>
        </div>
      </div>
      <div class="slides__card mySlides fade">
        <div class="media-card">
          <div class="media__image">
            <svg class="icon icon-container icon--secondary">
              <use xlink:href="/images/sprite.svg#time"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">
              ¿Cuáles son los nuevos horarios de los servicios?
            </h3>
            <p></p>
            <p>Estos son los horarios de nuestros servicios semanales</p>
            <ul>
              <li>Domingos 9:00 a.m. y 10:00 a.m.</li>
              <li>Miércoles 6:30 p.m.</li>
              <li>Sábados 6:30 p.m.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="slides__card mySlides fade">
        <div class="media-card">
          <div class="media__image">
            <svg class="icon icon-container icon--secondary">
              <use xlink:href="/images/sprite.svg#no-food"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">
              ¿Puedo entrar con alimentos o bebidas al salón?
            </h3>
            <p>
              Los alimentos y bebidas están prohibidos en el salón. Sólo se
              permite el ingreso de botellas pequeñas de agua.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</section>
