<!-- Vision Section -->
<section class="block vision-container vision">
  <div class="block__header Vision__header">
    <h2>Nuestra Visión</h2>
  </div>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#friend"></use>
        </svg>
        <h3>Amor y Unidad</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Amar a Dios sobre todas las cosas y a nuestro prójimo, sin importar credo,
      raza, estatus social o Religión, donde todas las personas puedan encontrar
      Amor, Perdón, Aceptación, Ayuda, Esperanza, Guía y Aliento. (Marcos
      12:30-31)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#family"></use>
        </svg>
        <h3 class="vision__header">Familias Sanas</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Transformar familias para Cristo, enseñándoles valores espirituales para
      fortalecer así nuestra sociedad. (Marcos 3:25)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#crowd"></use>
        </svg>
        <h3>Una Gran Familia</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Darles la bienvenida a más de 6,000 miembros integrados a la familia de
      nuestra iglesia, amando, aprendiendo, riendo y viviendo unidos en armonía.
      (Hechos 2:47), (Efesios 2:19)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#church"></use>
        </svg>
        <h3>Una Iglesia Cristiana</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Como los primeros seguidores de Cristo, nos identificamos como Cristianos,
      sin diferencias denominacionales, estableciendo que la Unidad y el Amor
      deben estar por encima de las diferencias de pensamiento. (Hechos 11:26)
      (Colosenses 3:14)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#bible"></use>
        </svg>
        <h3>Evangelizar</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Llevar las buenas nuevas del reino de Dios a los pobres de espíritu, los
      quebrantados de corazón, los cautivos, los ciegos, los oprimidos y a toda
      persona sobre la faz de la tierra, por todos los medios disponibles.
      (Lucas 9:6) (Mateo 28:19)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#lider"></use>
        </svg>
        <h3>Afirmar</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Llevar a dada creyente a ser un discípulo y un fuerte líder en el reino de
      Dios, fundamentándolo en los valores del Reino, renovando así su
      mentalidad para que su ser total sea transformado en espíritu, alma y
      cuerpo. (Mateo 28:19)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#unido"></use>
        </svg>
        <h3>Discipular</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Adiestrar, equipar y ayudar a cada discípulo a descubrir y cumplir el
      propósito, el llamado y la voluntad de Dios para su vida; llevándolo a
      conocer su identidad como hijo, con derechos, privilegios, herencia y
      responsabilidades en el reino de Dios. (Mateo 28:19)
    </p>
  </article>
  <article class="grid grid--1x2 vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#sender"></use>
        </svg>
        <h3>Enviar</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Comisionar a cada líder y discípulo para que haga la voluntad de Dios y
      llegue a su destino, llevando el Reino dondequiera que vaya. Con el
      propósito final de transferir un legado de amor, justicia y bendición a
      las próximas generaciones. (Lucas 9:2)
    </p>
  </article>
  <article class="vision__article">
    <div class="vision__content">
      <div class="vision_subtitle">
        <svg class="icon icon-container icon--secondary">
          <use xlink:href="/images/sprite.svg#building"></use>
        </svg>
        <h3>Planta Física</h3>
      </div>
    </div>
    <p class="vision__paragraph">
      Adquirir, por lo menos, 100,000.00 metros2 de tierra para construir una
      iglesia, con dependencias que incluyan: Un Centro de Culto para miles de
      personas, un centro de consejería y Oración, un Colegio donde instruir a
      los niños en el camino de Dios, salones de clases para estudios bíblicos y
      preparación de los ministros, un consultorio médico gratis, un
      economato-cooperativa y un área de recreación, esto se creara para
      ministrar a las personas en su totalidad: emocional, espiritual, física y
      socialmente, en un ambiente de transformación. (1 Crónicas 29:11)
    </p>
  </article>
</section>
