<section class="block container">
  <header class="block__header">
    <h2>Liderazgo</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, non!</p>
  </header>
  <article class="grid grid--1x2">
    <picture>
      <!-- <source
        srcset="/images/easy.webp 1x, /images/easy@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="/images/easy.jpg 1x, /images/easy@2x.jpg 2x"
        type="image/jpg"
      /> -->
      <img
        class="leadership__content"
        src="https://picsum.photos/400/250"
        alt="leadership__profile-photo"
      />
    </picture>
    <div class="leadership__content">
      <h3 class="leadership__header">Lora Wilson</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      <div class="leadership__media-icon">
        <a href=""><img src="images/instagram.png" alt="instagram" /></a>
        <a href=""><img src="images/facebook.png" alt="facebook" /></a>
        <a href=""><img src="images/twitter.png" alt="twitter" /></a>
      </div>
    </div>
  </article>
</section>
