<!-- Map Section -->
<section class="block container map">
  <div class="google-maps">
    <div class="grid grid--1x2">
      <header>
        <h2 class="map__header">
          Iglesia <br />
          Cristo es el Rey
        </h2>
        <p class="map__eslogan">Tranformando Familias para Cristo</p>
        <p class="map__content">
          Estos son los horarios de nuestros servicios semanales:
        </p>
        <ul class="list list--tick">
          <li class="list__item">Domingos 9:00 a.m. y 10:30 a.m.</li>
          <li class="list__item">Miércoles 6:30 p.m.</li>
          <li class="list__item">Sábados 6:30 p.m.</li>
        </ul>
      </header>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="100%"
            height="360"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=Iglesia%20Cristo%20es%20el%20Rey,%20Avenue%20Penetracion,%20Santo%20Domingo%20Este,%20Dominican%20Republic&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
